#external_css {
    color: blue;
}

.box {
    width: 200px;
    padding: 20px;
    margin: 20px;
    border: 2px solid black;
    background-color: lightblue;
}

.box:hover {
    background-color: orange;
    cursor: pointer;
}
